{% extends "base.html" %}
{% block head %}
    <title>Wikipedia Questionnaire</title>

{% endblock %}

{% block navbar %}
    <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#howto">How To</a>
    </li>
    <li>
        <a class="nav-link js-scroll-trigger" href="#questions">Questions</a>
    </li>
{% endblock %}

{% block body %}

    <header class="bg-primary text-white">
      <div class="container text-center">
        <h1>Welcome to WikiQuest!</h1>
        <p class="lead">A questionnaire aiming to extract your interests in Wikipedia.</p>
      </div>
    </header>

    <section id="howto">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    This questionnaire contains {{ n_q }} questions, which attempt to capture your topics of interest,
                    based on which we will recommend articles to you. After having answered all the questions,
                    the system will compute the recommendations and show them to you, and then we kindly ask
                    for your feedback on the results. Some notes: <br>
                    <ul>
                        <li>Please have cookies enabled. If you do not have them enabled, please enable them
                        and refresh this page.</li>
                        <li>Each question is of the form "Set A or Set B?", the available answers being A,
                        B, or Neither. Only a single answer is possible for each question.</li>
                        <li>Please answer all {{ n_q }} questions. Because we're evaluating our system
                        based on this, we need full information on how users interact with each question. The
                        form cannot be submitted without having chosen an answer for each question.</li>
                        <li>This page is best viewed on non-mobile platforms.</li>
                        <li>We greatly appreciate your help. :)</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section id="questions">
      <div class="container">
        <div class="row">
          <div class="col-10 mx-auto">
                    <form name="questionnaire" action = "/result" method = "POST" onsubmit="if (!is_complete()){event.preventDefault();}">
                        {% for key in range(n_q) %}

                            <div id="group{{ key }}" class="frmdiv">
                            <fieldset>

                                {% set question_value = questions[key|string] %}
                                {% set word_cloud_value = word_clouds[key|string] %}


                                <h2 id="q{{ key }}">Question {{ key + 1 }}</h2>
                                <div class="row">
                                    <div class="col left mx-auto">
                                        <b>Set A:</b> <br>
                                        <ul>
                                        {% for x in question_value['top'] %}
                                            <li>{{ x }}</li>
                                        {% endfor %}
                                        </ul>
                                    </div>
                                    <div class="col right mx-auto">
                                        <b>Set B:</b> <br>
                                        <ul>
                                        {% for x in question_value['bottom'] %}
                                            <li>{{ x }}</li>
                                        {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col left mx-auto">
                                        <b>Most important words:</b> <br><br>
                                        <img src="{{ cloud_dir }}{{ key }}_top.png">
                                    </div>

                                    <div class="col right mx-auto">
                                        <b>Most important words:</b> <br><br>
                                        <img src="{{ cloud_dir }}{{ key }}_bottom.png">
                                    </div>
                                </div>

                                <div class="mx-auto">
                                    <h4>Your answer:</h4>
                                        <input type="radio" id="r{{ key }}1" value="1" name="group{{ key }}"><label for="r{{ key }}1">Set A</label>
                                        <input type="radio" id="r{{ key }}2" value="-1" name="group{{ key }}"><label for="r{{ key }}2">Set B</label>
                                        <input type="radio" id="r{{ key }}3" value="0" name="group{{ key }}"><label for="r{{ key }}3">Neither</label>

                                </div>
                                <div class="form-group">
                                    <div class="col-lg-10 col-lg-offset-3">

                                        {% if key != 0 %}
                                            <button class="btn btn-dark" id="tofirst{{ key }}" type="button"><span class="fa fa-arrow-left"></span> To first</button>
                                            <button class="btn btn-warning" id="back{{ key }}" type="button"><span class="fa fa-arrow-left"></span> Back</button>
                                        {% endif %}

                                        {% if key != n_q - 1 %}
                                            <button class="btn btn-primary" id="next{{ key }}" type="button">Next <span class="fa fa-arrow-right"></span></button>
                                            <button class="btn btn-dark" id="tolast{{ key }}" type="button"><span class="fa fa-arrow-left"></span> To last</button>
                                        {% else %}
                                            <input class="btn btn-primary" id="next{{ key }}" type = "submit" value = "Submit"/>
                                        {% endif %}
                                    </div>
                                </div>

                            </fieldset>
                            </div>


                        {% endfor %}


                      </form>

            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
    $(document).ready(function() {
        $(".frmdiv").hide();
        $("#group0").show();
        {% for key in range(n_q) %}
            {%if  key != 0 %}
                $("#back{{ key }}").click(function() {
                    $(".frmdiv").hide("fast");
                    $("#group{{ key - 1 }}").show("fast");
                    $(document).scrollTop( $("#questions").offset().top );
                });
                $("#tofirst{{ key }}").click(function () {
                    $(".frmdiv").hide("fast");
                    $("#group0").show("fast");
                    $(document).scrollTop( $("#questions").offset().top );
                });
            {% endif %}
            {% if key != n_q - 1 %}
                $("#next{{ key }}").click(function() {
                    $(".frmdiv").hide("fast");
                    $("#group{{ key + 1 }}").show("fast");
                    $(document).scrollTop( $("#questions").offset().top );
                });
                $("#tolast{{ key }}").click(function () {
                    $(".frmdiv").hide("fast");
                    $("#group{{ n_q - 1 }}").show("fast");
                    $(document).scrollTop( $("#questions").offset().top );
                });
            {% endif %}
        {% endfor %}

    });

</script>
{% endblock %}