{% extends "base.html" %}
{% block head %}
    <title>Wikipedia Questionnaire</title>

{% endblock %}

{% block navbar %}
    <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#howto">How To</a>
    </li>
    <li>
        <a class="nav-link js-scroll-trigger" href="#questions">Questions</a>
    </li>
{% endblock %}

{% block body %}

    <header class="bg-primary text-white">
      <div class="container text-center">
        <h1>Welcome to the Wikipedia entry questionnaire!</h1>
        <p class="lead">A questionnaire aiming to learn about your interests in Wikipedia.</p>
      </div>
    </header>

    <section id="howto">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    This questionnaire contains {{ n_q }} questions, which attempt to capture your topics of interest,
                    based on which we will match you with other newcomers of similar interests. A few important points on the questionnaire:<br>
                    <ul>
                        <li>Please have cookies enabled. If you do not have them enabled, please enable them
                        and refresh this page.</li>
                        <li>Each question is of the form "Set A or Set B?", the available answers being A,
                        B, or Neither. Only a single answer is possible for each question.</li>
                        <li>Please answer all {{ n_q }} questions. Because we're evaluating our system
                        based on this, we need full information on how users interact with each question. The
                        form cannot be submitted without having chosen an answer for each question.</li>
                        <li>Once you have answered all the questions, we kindly ask you to also enter your username so
                            that we can get back to you with your matched person, and so that you can establish contact
                            with them through the "Email this user" feature on Wikipedia (you will receive further information on this feature later).</li>
                        <li>Once you have submitted the questionnaire, your answers are recorded,
                            and we will get back to you soon to inform you about the users we have
                            matched you to, if a match is possible. We will send you further
                            information through the user account you provide to us at the end of
                            the questionnaire.</li>
                        <li>We would like to remind you that the privacy statement for this study may be found
                            <a href="https://foundation.wikimedia.org/wiki/Elicit_New_Editor_Interests_Survey_Privacy_Statement">here</a>.</li>
                        <li>This page is best viewed on non-mobile platforms.</li>
                        <li>We greatly appreciate your help. :)</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section id="questions">
      <div class="container">
        <div class="row">
          <div class="col-10 mx-auto">
                    <form name="questionnaire" action = "/thankyou" method = "POST" onsubmit="submission_check_survey();">
                        {% for key in range(n_q) %}

                            <div id="group{{ key }}" class="frmdiv">
                            <fieldset>

                                {% set question_value = questions[key|string] %}


                                <h2 id="q{{ key }}">Question {{ key + 1 }}: Review the two sets of articles A and B, and choose the set that
                                    you would be more interested in contributing to. Choose "Neither" if neither of these sets interests you.</h2>
                                <div class="row">
                                    <div class="col left mx-auto">
                                        <b>Set A:</b> <br>
                                        <ul>
                                        {% for x in question_value['top'] %}
                                            <li><a href="https://en.wikipedia.org/wiki/{{ x }}" target="_blank">{{ x }}</a> </li>
                                        {% endfor %}
                                        </ul>
                                    </div>
                                    <div class="col right mx-auto">
                                        <b>Set B:</b> <br>
                                        <ul>
                                        {% for x in question_value['bottom'] %}
                                            <li><a href="https://en.wikipedia.org/wiki/{{ x }}" target="_blank">{{ x }}</a></li>
                                        {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col left mx-auto">
                                        <b>Most important words:</b> <br><br>
                                        <img src="{{ cloud_dir }}{{ key }}_top.png">
                                    </div>

                                    <div class="col right mx-auto">
                                        <b>Most important words:</b> <br><br>
                                        <img src="{{ cloud_dir }}{{ key }}_bottom.png">
                                    </div>
                                </div>

                                <div class="mx-auto">
                                    <h4>Your answer:</h4>
                                        <input type="radio" id="r{{ key }}1" value="3" name="q_group_{{ key }}"><label for="r{{ key }}1">I greatly prefer set A.</label><br>
                                        <input type="radio" id="r{{ key }}2" value="2" name="q_group_{{ key }}"><label for="r{{ key }}2">I moderately prefer set A.</label><br>
                                        <input type="radio" id="r{{ key }}3" value="1" name="q_group_{{ key }}"><label for="r{{ key }}3">I slightly prefer set A.</label><br>
                                        <input type="radio" id="r{{ key }}4" value="0" name="q_group_{{ key }}"><label for="r{{ key }}4">I am indifferent towards the two sets.</label><br>
                                        <input type="radio" id="r{{ key }}5" value="-1" name="q_group_{{ key }}"><label for="r{{ key }}5">I slightly prefer set B.</label><br>
                                        <input type="radio" id="r{{ key }}6" value="-2" name="q_group_{{ key }}"><label for="r{{ key }}6">I moderately prefer set B.</label><br>
                                        <input type="radio" id="r{{ key }}7" value="-3" name="q_group_{{ key }}"><label for="r{{ key }}7">I greatly prefer set B.</label><br>

                                </div>
                                {% if key == n_q - 1 %}
                                    <div class="mx-auto">
                                        <h4 style="color: orangered">Before you submit the questionnaire...</h4>
                                        <input class="form-text" type="text" name="name_field" id="name_field" placeholder="Please enter your Wikipedia username here."/>
                                    </div><br>
                                {% endif %}
                                <div class="form-group">
                                    <div class="col-lg-10 col-lg-offset-3">

                                        {% if key != 0 %}
                                            <button class="btn btn-dark" id="tofirst{{ key }}" type="button"><span class="fa fa-arrow-left"></span> To first</button>
                                            <button class="btn btn-warning" id="back{{ key }}" type="button"><span class="fa fa-arrow-left"></span> Back</button>
                                        {% endif %}

                                        {% if key != n_q - 1 %}
                                            <button class="btn btn-primary" id="next{{ key }}" type="button">Next <span class="fa fa-arrow-right"></span></button>
                                            <button class="btn btn-dark" id="tolast{{ key }}" type="button"><span class="fa fa-arrow-left"></span> To last</button>
                                        {% else %}
                                            <input class="btn btn-primary" id="next{{ key }}" type = "submit" value = "Submit"/>
                                        {% endif %}
                                    </div>
                                </div>

                            </fieldset>
                            </div>


                        {% endfor %}


                      </form>

            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
    $(document).ready(function() {
        $(".frmdiv").hide();
        $("#group0").show();
        {% for key in range(n_q) %}
            {%if  key != 0 %}
                $("#back{{ key }}").click(function() {
                    $(".frmdiv").hide("fast");
                    $("#group{{ key - 1 }}").show("fast");
                    $(document).scrollTop( $("#questions").offset().top );
                });
                $("#tofirst{{ key }}").click(function () {
                    $(".frmdiv").hide("fast");
                    $("#group0").show("fast");
                    $(document).scrollTop( $("#questions").offset().top );
                });
            {% endif %}
            {% if key != n_q - 1 %}
                $("#next{{ key }}").click(function() {
                    $(".frmdiv").hide("fast");
                    $("#group{{ key + 1 }}").show("fast");
                    $(document).scrollTop( $("#questions").offset().top );
                });
                $("#tolast{{ key }}").click(function () {
                    $(".frmdiv").hide("fast");
                    $("#group{{ n_q - 1 }}").show("fast");
                    $(document).scrollTop( $("#questions").offset().top );
                });
            {% endif %}
        {% endfor %}

    });

    $("input[placeholder]").each(function () {
        $(this).attr('size', $(this).attr('placeholder').length);
    });

    function submission_check_survey() {
        if (!is_radio_group_complete('q_group_', {{ n_q }}) || !name_entered())
        {
            event.preventDefault();
        }
    }

</script>
{% endblock %}