{% extends "base.html" %}
{% block head %}
    <title>Thank you</title>
{% endblock %}
{% block body %}
    <header class="bg-light text-dark">
      <div class="container text-center">
        <h1>Thank you!</h1>
        <p class="lead">Thank you for taking our questionnaire and helping us improve the Wikipedia user experience!
            You can find more information about this research project
            <a href="https://meta.wikimedia.org/wiki/Research:Voice_and_exit_in_a_voluntary_work_environment/Elicit_new_editor_interests" target="_blank">here.</a> </p>

      </div>
    </header>
{% endblock %}